.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.debbug__red {
  border: 1px solid red;
}

.debbug__blue {
  border: 1px solid blue;
}

header {
  height: 50px;
}

body {
  flex: 1;
  height: calc(100vh + 50px);
  max-width: 100vw;
  /* overflow-x: hidden; */
}

main {
  display: grid;
  width: 100%;
  flex: 1;
  justify-content: center;
  grid-template-columns: 20rem calc(80% - 20rem);
}

.main_division__left {
  margin-right: 1.5rem;
}

.main_division__right {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.division_left__input_area {
  display: flex;
  justify-content: center;
}

.division_left__input_area label {
  margin-right: 0.5rem;
}

.nobel_list__card_item {
  border: 1px solid pink;
  margin: 0.5rem;
  height: min-content;
}

#error {
  padding-top: 0.5rem;
  color: red;
}

#info {
  padding-top: 1rem;
}
