.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.debbug__red {
  border: 1px solid red;
}

.debbug__blue {
  border: 1px solid blue;
}

header {
  height: 50px;
}

body {
  flex: 1;
  height: calc(100vh + 50px);
  max-width: 100vw;
  /* overflow-x: hidden; */
}

main {
  display: grid;
  width: 100%;
  flex: 1;
  justify-content: center;
  grid-template-columns: 18.75rem calc(80% - 18.75rem);
}

.main_division__left {
  margin-right: 1.5rem;
}

.main_division__right {
  display: flex;
}
